@import '../../../../shared/sass/variables'

.label
  display: flex

  .input
    padding: 6px 16px
    width: 100%
    line-height: 1.625rem
    font-size: 0.875rem
    color: $sea-color-2
    font-family: $font-space-grotesk
    font-weight: $weight-600
    border: 1px solid $white-color-4
    transition: $transition-default

    &::placeholder
      font-weight: $weight-500
      color: $asphalt-color-3