@import '../../sass/grid'
@import '../../sass/variables'

.page
	transition: $transition-long-transform

	&.light
		background-color: $white-color

	&.dark
		background-color: $black-color-3

	&.transformed
		transform: translate3d(300px, 0, 0)

	.nav
		display: flex
		margin: 0 auto
		height: 50px
		background-color: #505050

	.header
		&.light
			background-color: $white-color

		&.dark
			background-color: $black-color-3

	.main
		display: grid
		grid-auto-flow: column
		grid-template-columns: 1fr 300px
		gap: 60px
		margin-top: 64px

		.content
			display: flex
			flex-direction: column

		.aside
			position: relative

	.footer

// DONE: refactor structure
// DONE: make layout sass!!!
