@import '../../../../shared/sass/variables'
@import '../../../../shared/sass/grid'

.aside
  position: fixed
  top: 0
  left: -100%
  width: 100%
  max-width: 400px
  height: 100vh
  z-index: $z-index-100
  padding: 40px
  // Каждое свойство строго на новой строке!
  transition: left $transition-default, background-color $transition-default 
  display: flex
  flex-direction: column
  background-color: transparent 
  overflow-y: auto

  &.open
    left: 0
    background-color: $white-color 

  &.dark
    &.open
      background-color: $black-color-3 !important
    color: $white-color
    

    .header
      .title
        color: $white-color

    .close_svg
      fill: $white-color // Чтобы крестик был виден

    // Стили для разделительных линий внутри Follow
    :global(.follow-item)
      border-bottom-color: $asphalt-color-10

  .header
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 40px

    .title
      font-size: 24px
      font-weight: $weight-700
      text-decoration: none
      color: $black-color

    .btn
      background: none
      border: none
      cursor: pointer
      padding: 0

      .close_svg
        width: 20px
        height: 20px
        transition: $transition-default

  .content
    display: flex
    flex-direction: column
    gap: 40px
