@import '../../../shared/sass/variables'

.article
	display: grid

	.category
		margin-bottom: 24px

	.img
		margin-bottom: 24px

	.titleBox
		margin-bottom: 20px

		.title
			text-decoration: none
			line-height: 1.25
			letter-spacing: -$letter-spacing-default
			font-size: 30px
			font-weight: $weight-700
			transition: $transition-default

	.metaBox
		margin-bottom: 16px

	.previewText
		line-height: 1.5
		color: $asphalt-color-8
		display: -webkit-box
		-webkit-line-clamp: 3
		-webkit-box-orient: vertical
		overflow: hidden

	&.light
		background-color: $white-color

	// theme
	&.theme
		&_dark
			.title
				color: $white-color

				&:hover
					color: $white-color-5

		&_light
			.title
				color: $black-color

				&:hover
					color: $sea-color
