@import '../../../../../sass/variables'

.category
  text-decoration: none
  padding: 8px 0
  font-size: 0.875rem
  font-weight: $weight-600
  font-family: $font-space-grotesk
  transition: $transition-default

  &:first-letter
    text-transform: uppercase

  &.light
    color: $black-color

  &.dark
    color: $white-color

  &.active
    color: $asphalt-color-3