@import '../../sass/variables'

.preloader
	height: 400px

.posts
	display: grid
	gap: 40px
	grid-template-columns: repeat(2, 1fr)
	flex-wrap: wrap

.btn
	display: flex
	justify-content: center
	margin-top: 64px

	.svg
		margin-bottom: -1px
		width: 10px
		height: 10px
		transform: rotate(180deg)
		fill: $white-color
