@import '../../../../sass/variables'

.label
  display: inline-block
  cursor: pointer

  .checkbox
    margin-right: 8px

  .text
    font-size: 0.875rem
    font-family: $font-space-grotesk
    color: $white-color
