@import '../../../../../shared/sass/variables'

.link
	display: grid
	text-decoration: none
	gap: 16px

	.typeBox
		display: grid
		grid-auto-flow: column
		align-items: center
		justify-content: start
		gap: .5rem

		.icon
			display: flex
			align-items: center
			justify-content: center
			width: 24px
			height: 24px
			order: 1

			.svg
				width: 11px
				height: 11px

		.dash, .type
			letter-spacing: $letter-spacing-big
			font-size: 0.75rem
			font-family: $font-space-grotesk
			font-weight: $weight-600

		.type
			text-transform: uppercase
			order: 3

		.dash
			order: 2

	.title
		text-transform: capitalize
		line-height: 1.25
		font-size: 1.5rem
		letter-spacing: $letter-spacing-default
		font-family: $font-space-grotesk
		font-weight: $weight-700
		transition: $transition-default

	// type
	&.type
		&_next
			padding-left: 80px
			justify-items: end

			.icon
				order: 3

				.svg
					rotate: 90deg

			.dash
				order: 2

			.type
				order: 1


		&_prev
			padding-right: 80px
			border-right: 1px solid $asphalt-color-2

			.svg
				rotate: -90deg

	// theme
	&.theme
		&_dark
			.icon
				background-color: $black-color

			.svg
				fill: $white-color

			.type, .dash
				color: $asphalt-color-11

			.title
				color: $white-color

				&:hover
					color: $asphalt-color-16

		&_light
			.icon
				background-color: $cherry-color

				.svg
					fill: $white-color

			.type, .dash
				color: $asphalt-color-3

			.title
				color: $black-color

				&:hover
					color: $sea-color