.instagram
    display: flex
    flex-direction: column

    .items
        display: flex
        flex-wrap: wrap
        margin-right: -5px
        margin-bottom: 16px
        margin-left: -5px

.btn
    justify-content: center