@import '../../../../../shared/sass/variables'

.items
  position: absolute
  display: flex
  flex-direction: column
  gap: 30px
  padding: 40px
  top: 0
  right: 0
  bottom: 0
  flex: 0 0 380px
  width: 380px
  overflow: hidden
  z-index: $z-index-10

  &.light
    background-color: $coal-color-6

  &.dark
    background-color: $black-color-4
