# Server Configuration
PORT=9090

# Database
DB_NAME=local_db_name
DB_SERVER=localhost:27017

# JWT
JWT_SECRET=jfLs7dj2f4Guhwf73h
JWT_EXPIRES_IN=24h

# API
API_URL=http://localhost:
API_PREFIX=api
API_VERSION=v1

