@import '../../sass/variables'

.btn_theme
	background: none
	outline: none
	border-color: transparent
	cursor: pointer

	.icon
		width: 16px
		height: 16px
		transition: $transition_default

	&:hover
		.icon
			fill: $asphalt-color-3

	// theme
	&.theme_dark
		.icon
			fill: $white-color

		&:hover .icon
			fill: $asphalt-color-11