@import '../../../../../shared/sass/variables'

.article
  padding: 10px

  .item
    display: inline-flex
    align-items: center
    gap: 16px
    padding: 16px
    text-decoration: none
    border-bottom: 1px solid rgba(255, 255, 255, 0.05)
    transition: background-color 0.2s

    .img
      width: 60px // Чуть меньше, чтобы было аккуратнее
      height: 60px
      flex-shrink: 0
      object-fit: cover
      border-radius: 2px

    .info
      display: flex
      flex-direction: column
      flex-grow: 1
      min-width: 0
      gap: 2px

      .title
        font-size: 15px
        font-weight: 700
        line-height: 1.2
        margin: 0
        color: #000
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

    .type
      font-size: 10px
      text-transform: uppercase
      color: $gray-color
      letter-spacing: 0.5px

    .date
      font-size: 12px
      font-family: $font-lato
      color: $black-color
      white-space: nowrap
      margin-left: 10px

  &.theme
    &_dark
      .item
        .type
          color: $gray-color

        .info
          .title
            color: #ffffff

          .date
            color: $gray-color

            &:hover
              background-color: rgba(255, 255, 255, 0.05)