@import '../../../../../shared/sass/variables'

.article
  padding: 10px

  .item
    display: inline-flex
    align-items: center
    gap: 16px
    padding: 16px
    text-decoration: none
    border-bottom: 1px solid $asphalt-color-10
    transition: $transition-default

    &:hover
      background-color: $asphalt-color-10

    .img
      width: 60px
      height: 60px
      flex-shrink: 0
      object-fit: cover

    .info
      display: flex
      flex-direction: column
      flex-grow: 1
      min-width: 0
      gap: 2px

      .title
        font-size: 16px
        font-weight: $weight-600
        line-height: 1.2
        margin: 0
        color: $black-color
        font-family: $font-space-grotesk
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

    .type
      font-size: 14px
      text-transform: capitalize
      color: $asphalt-color-3
      font-family: $font-space-grotesk
      letter-spacing: 0.5px

    .date
      font-size: 14px
      font-family: $font-space-grotesk
      color: $cherry-color
      white-space: nowrap
      margin-top: 4px
      background-color: transparent

  &.theme
    &_dark
      .item
      border-bottom-color: $asphalt-color-10


      .type
        color: $gray-color

      .info
        .title
          color: $white-color

        .date
          color: $asphalt-color-11
          background-color: transparent

    &_light
      .item
      &:hover
        background-color: $asphalt-color-2
