@import '../../sass/variables'
@import '../../sass/grid'

.page
	.main
		display: flex
		padding-top: 64px
		gap: 60px

		.content
			display: flex
			flex-direction: column
			flex: 0 0 900px
			width: 900px

		.aside
			position: relative
			flex: 0 0 300px
			width: 300px

	// theme
	&.theme
		&_light
			background-color: $white-color

		&_dark
			background-color: $black-color-3