@import '../../sass/grid'
@import '../../sass/variables'

.block
  background-color: $asphalt-color-7

  .content
    padding: 48px 0

    .title
      margin-bottom: 16px

      & > h5
        font-size: 0.75rem

    .search
      line-height: 1
      letter-spacing: -$letter-spacing-default
      font-size: 4.5rem
      font-weight: $weight-700
      font-family: $font-space-grotesk
      color: $black-color

    .total
      font-size: 0.875rem
      font-weight: $weight-600
      font-family: $font-space-grotesk
      color: $black-color