@import '../../../../shared/sass/variables'
@import '../../../../shared/sass/grid'

.box
  position: relative
  z-index: $z-index-100
  transition: background-color $transition-long

  &.light
    background-color: $sea-color-3
    border-top: 1px solid $asphalt-color-2

  &.dark
    background-color: $coal-color-2
    border-top: 1px solid $asphalt-color-10

  .block
    transition: $transition-long
    display: flex
    align-items: center
    height: 0
    visibility: hidden
    overflow: hidden

    &.open
      height: 200px
      visibility: visible
      overflow: visible

    .search
      width: 100%
      position: relative

      .form
        position: relative
        height: 60px
        z-index: 101

        .input
          height: 100%
          width: 100%
          & > input
            width: 100%
            height: 100%
            padding: 0 70px
            outline: none
            border: none
            background-color: $white-color
            color: $black-color

        .btn_close, .btn_search
          position: absolute
          top: 50%
          width: 70px
          height: 100%
          background-color: transparent
          border: none
          cursor: pointer
          display: flex
          align-items: center
          justify-content: center
          z-index: 2
          transform: translateY(-50%)

          svg, .icon
            width: 20px
            height: 20px
            fill: $asphalt-color-16
            transition: $transition-default

        .btn_search
          left: 0

        .btn_close
          right: 0

        .btn_reset
          position: absolute
          top: 50%
          right: 70px
          transform: translateY(-50%)
          background: none
          border: none
          cursor: pointer
          z-index: 3

        .result
          position: absolute
          top: 100%
          left: 0
          width: 100%
          z-index: 9999
          display: none
          flex-direction: column
          max-height: 420px
          overflow-y: auto
          box-shadow: $shadow-search
          border-radius: 0 0 $border-radius-default $border-radius-default
          background-color: $white-color

          &.open
            display: flex

          &.light
            background-color: $white-color
            .more_results
              color: $asphalt-color-8
              border-top: 1px solid $asphalt-color-2

          &.dark
            background-color: $search-dark-bg
            .more_results
              color: $asphalt-color-11
              border-top: 1px solid $asphalt-color-10

            .icon
              fill: $white-color

          .more_results
            padding: 15px 70px
            font-size: 14px
            font-family: $font-space-grotesk
            font-weight: $weight-600
            font-style: italic
            background-color: inherit

.error, .no_results
  padding: 20px
  text-align: center
  background-color: inherit
