@import '../../sass/variables'
@import '../../sass/grid'

.page
	.main
		display: grid
		grid-auto-flow: column
		grid-template-columns: 1fr 300px
		gap: 60px
		margin-top: 64px

		.content
			display: grid
			align-content: start
			gap: 48px

		.aside
			position: relative

	// theme
	&.theme
		&_light
			background-color: $white-color

		&_dark
			background-color: $black-color-3

			.header
				border-bottom-color: $asphalt-color-10