@import '../../sass/grid'

.title
	h5
		font-size: 0.75rem!important

.list
	display: grid
	grid-auto-flow: column
	gap: 64px 40px

	&.grid
		&_two-column
			grid-auto-flow: row
			grid-template-columns: repeat(2, 1fr)