@import '../../../sass/variables'

.btn
    display: flex
    align-items: center
    gap: 8px
    text-align: center
    text-transform: uppercase
    text-decoration: none
    line-height: 1.5
    font-size: 0.75rem
    font-weight: $weight-600
    letter-spacing: $letter-spacing-big
    color: $white-color
    font-family: $font-space-grotesk
    opacity: 1
    border: 1px solid transparent
    cursor: pointer
    background-color: $cherry-color
    transition: $transition-btn-default

    &.light
        background-color: $cherry-color

    &.dark
        background-color: $black-color

    &:hover
        opacity: 0.75

    &.size
        &_xs
            padding: 8px 16px
        &_sm
            padding: 8px 20px
        &_md
            padding: 12px 16px
        &_xl
            padding: 12px 32px
        &_xxl
            padding: 12px 96px

    .text
        position: relative

        &::after
            position: absolute
            content: url('../../../assets/svg/chevron.svg')
            transform: rotate(180deg)
            margin-top: 7px
            margin-left: 8px
            width: 8px
            height: 10px

.btnFollow
    padding: 8px 16px
    font-family: Lato

.btnPosts
    padding: 12px 96px

.btnSubscribe
    padding: 9px 37px 9px 25px
    font-weight: 600
    font-family: 'Lato'
    display: flex

    .sub
        position: relative
        &::after
            position: absolute
            content: url('../../../assets/svg/mail.svg')
            margin-top: 2px
            margin-left: 8px
            width: 12px
            height: 10px
