.title
    font-size: 0.75rem!important

.items
    display: grid
    gap: 1px

    &.grid
        &_square
            grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr

        &_row
            grid-auto-flow: row